<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060795357638-l7ecnq8tkgu39sqqv6mfet8b8r5s0cfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060795357638-l7ecnq8tkgu39sqqv6mfet8b8r5s0cfc</string>
	<key>API_KEY</key>
	<string>AIzaSyCVGqVL9UFaKbwH0zhGYSNmM2xani_3Iyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1060795357638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitMarkot</string>
	<key>PROJECT_ID</key>
	<string>fruit-market-f9e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-market-f9e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060795357638:ios:1520d439336572e007bac7</string>
</dict>
</plist>